* {
    border: 1px solid black;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "nav    nav"
    "main   sidebar";
    grid-template-columns: 1fr 200px;
}
.nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
.sidebar {
    grid-area: sidebar;
}
header {
    grid-area: header;
}
footer {
    display: none;
}